{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionaire
{% endblock %}

{% block content %}
<div class="row">
    <p>
        That concludes today's experiment. Thank you for your participation. Once you complete the survey
        your payment will be computed and you will receive an email with instructions on
        how to collect your cash payment within the next week.
    </p>

    <div id="questions">
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Finish" class="btn btn-primary btn-large btn-sucess next-button">
    </span>
</div>



{% endblock %}
