{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Before Round 2 Of Work
{% endblock %}

{% block content %}
<div class="row">
    <h3>Part 2:</h3>

    <p>You are about to enter into part 2, the next paid portion. You will have a total of 20 minutes to
    type as many strings as you like. A timer in the upper right hand side of your screen shows your
    time remaining. Once the {{time_limit}} minutes are up, you will automatically redirected to the instructions
    for the next portion of the experiment. You may allocate correctly typed strings to the individual
    or group account.
    </p>

    <p class="text-info">
        <strong>
            {% if player.player_re_type == Constants.pt1 %}
                You are participating in an Ohio University computer lab at a designated time.
                The other two members of your group are also participating in an Ohio University
                computer lab at a designated time.
            {% elif player.player_re_type == Constants.pt2 %}
                You are participating in an Ohio University computer lab at a designated time.
                The other two members of your group are each participating in a location and at a time of
                their choice.
            {% elif player.player_re_type == Constants.pt3 %}
                You are participating in a location and time of your choice. The other two
                members of your group are participating in an Ohio University computer lab at a
                designated time.
            {% elif player.player_re_type == Constants.pt4 %}
                You are participating in a location and time of your choice. The other two
                members of your group are also each participating in a location and at a time of their
                choice.
            {% elif player.player_re_type == Constants.pt5 %}
                You are participating in an Ohio University computer lab at a designated time.
                The other two members of your group are also participating in an Ohio University
                computer lab at a designated time.
            {% elif player.player_re_type == Constants.pt6 %}
                You are participating in an Ohio University computer lab at a designated time.
                One of the other members of your group is participating in a computer lab at Ohio
                University at a designated time, while the other member is participating in a location and
                at a time of their choice.
            {% elif player.player_re_type == Constants.pt7 %}
                You are participating in a location and time of your choice.  One of the other
                members of your group is participating in a computer lab at Ohio University at a
                designated time, while the other member is participating in a location and at a time of their
                choice.
            {% elif player.player_re_type == Constants.pt8 %}
                You are participating in a location and time of your choice. The other two
                members of your group are also each participating in a location and at a time of their
                choice.
            {% endif %}
        </strong>
    </p>

    <p>If you prefer not to perform this task, you are free to browse the web but you will only have the
    allotted time to complete the tasks and earn money.  The other two group members have these
    same options.</p>

    <p>Please press the <span class="text-info">Continue</span> button to begin.</p>
</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
    </span>
</div>
{% endblock %}
