{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Before Round 1 Of Work
{% endblock %}

{% block content %}

    <p>
        You are about to enter into a <strong>5 Minutes</strong>.
    </p>

    <p>You will be asked to transcribe text the same task as in the practice round you just completed</p>

    <p>Press the <b>Start Button</b> to begin.</p>

    <span class="pull-right">
        <p>
            <input type="submit" value="Start" class="btn btn-primary btn-large btn-primary next-button">
        </p>
    </span>
    <br>

{% endblock %}
