{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 1 Instructions
{% endblock %}

{% block content %}
<div class="row">
  <h3>Individual Stage 1:</h3>
    <p>You are about to enter into the first paid portion of the experiment. You will have a total of 5 minutes
    to type as many tasks as you like. For each correct task you submit to the individual account, you will earn $0.10. </p>
    <p>Once the five minutes are up, you will be automatically redirected to the
    results for stage 1. If at any time you are disconnected from this
    website, you can follow the initial link in your email which will take you back to the experiment
    (in progress – the clock will continue to run, even if the browser is closed).</p>
    <p><em>If you prefer not to perform this work, you are free to browse the web instead.</em></p>
    <p>Please press the <span class="text-info">Continue</span> button to begin stage 1.</p>
</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
    </span>
</div>
{% endblock %}
