{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 2 and 3 Instructions
{% endblock %}

{% block content %}
<div class="row">
    <h3>Group Work:</h3>

    <p>The work task in the remaining two stages of the experiment are the same
    as in stage 1, however, there are two important changes.    </p>
    <p><b>1. in both stage 2 and stage 3 you will be randomly and anonymously matched with two other
    participants to form a group of three.</b></p>
    <p><b>2. the time limit in both stages is increased to
       <span class="text-warning">{{minutes}} minutes</span>.</b> </p>
    <p>Because you will now work in a group, you will have different options. You can now
    choose to submit some or all of your correct tasks to the individual account (same as before)
  and you will also have the choice to submit some or all of your correct tasks to a group account. </p>
    <h3>Earnings:</h3>
  <p>INDIVIDUAL ACCOUNT</p>

    <p>Each correct task you submit to the individual account pays <b>{{Constants.a_payoff}}</b> per correct task. These earnings are only paid to you.</p>
    <p>GROUP ACCOUNT</p>
    <p>The return on your correct tasks  in the group account is not so easily determined. Your earnings depend on the total number of correct tasks submitted to the group account (your tasks plus all of the other tasks submitted by the other people in your group.)</p>
<p>Each correct task you or your group members submit to the group account pays <b>{{Constants.b_payoff}}</b>
    to the group. The sum of all earnings to the group account will be divided equally between you and the other two
    members of the group. </p>

    <p>Your total earnings will be equal to your individual earnings + your group earnings.</p>
    <p>Please click on the Continue button to find out more about the group account.</p>
    <p>&nbsp;</p>

</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
    </span>
</div>
{% endblock %}
