{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    General Description
{% endblock %}

{% block content %}
<div class="row">
    <p>You will have the opportunity to make money during today's experiment, which consists of three
        parts and a brief survey at the end. The instructions will be given prior to each part starting.
        Because of the nature of today’s experiment, your payment will be available within one week of
        your participation. Detailed instructions for how you can pick up your cash payment will be
        given at the end of the experiment.</p>
    <p>All payments are confidential; no other participant will be told the amount you make.  Please
        press <span class="text-info">"Continue"</span>.</p>
</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
    </span>
</div>

{% endblock %}
