{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
<div class="row">
    <p>Thank you for participating in today's experiment. These instructions explain the nature of
        today's experiment as well as how to work the computer interface you will be using.</p>
    <p>The instructions and stages of the experiment are self­paced; so when you have finished and a
        <span class="text-info">"Continue"</span> button is available, please press it.</p>
</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
    </span>
</div>
{% endblock %}
