{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Group Member Information
{% endblock %}

{% block content %}
<div class="row">
  <h3>There are two types of participants in this experiment:</h3>
<em>
  <ol>
        <li>Those that participate in a computer lab at Ohio University at a designated time <b>(LAB PARTICIPANTS)</b></li>
        <li>Those that participate in a location of their choice (e.g. in their apartment, at a coffee shop, in the library, etc.) at any time within a block of 24 hours <b>(TELECOMMUTERS)</b></li>
       
    </ol>
  </em>
<p>&nbsp;</p>

   <p class="text-info">
        <strong>
            {% if player.player_re_type == Constants.pt1 %}
                You are a LAB PARTICIPANT. 
            {% elif player.player_re_type == Constants.pt2 %}
                You are a LAB PARTICIPANT. 
            {% elif player.player_re_type == Constants.pt3 %}
                You are a TELECOMMUTER.  
            {% elif player.player_re_type == Constants.pt4 %}
                You are a TELECOMMUTER.
            {% elif player.player_re_type == Constants.pt5 %}
                You are a LAB PARTICIPANT.
            {% elif player.player_re_type == Constants.pt6 %}
                You are a LAB PARTICIPANT.
            {% elif player.player_re_type == Constants.pt7 %}
                You are a TELECOMMUTER.
            {% elif player.player_re_type == Constants.pt8 %}
               You are a TELECOMMUTER.
            {% endif %}
            </strong>
             </p>   
                
            
    <h4>In stage 2:</h4>

    <p class="text-info">
        <strong>
            {% if player.player_re_type == Constants.pt1 %}
                The other two members of your group will also be LAB PARTICIPANTS. 
            {% elif player.player_re_type == Constants.pt2 %}
                The other two members of your group will be TELECOMMUTERS. 
            {% elif player.player_re_type == Constants.pt3 %}
                The other two members of your group will be LAB PARTICIPANTS.  
            {% elif player.player_re_type == Constants.pt4 %}
                The other two members of your group will also be TELECOMMUTERS.
            {% elif player.player_re_type == Constants.pt5 %}
                The other two members of your group will also be LAB PARTICIPANTS.
            {% elif player.player_re_type == Constants.pt6 %}
                One member of your group will also be a LAB PARTICIPANT, the other will be a TELECOMMUTER.
            {% elif player.player_re_type == Constants.pt7 %}
                 One member of your group will also be a TELECOMMUTER, the other will be a LAB PARTICIPANT.
            {% elif player.player_re_type == Constants.pt8 %}
               The other two members of your group will also be TELECOMMUTERS.
            {% endif %}
    </strong></p>
        <h4>In stage 3:</h4>
    <p class="text-info">
        <strong>
            {% if player.player_re_type == Constants.pt1 %}
                The other two members of your group will be TELECOMMUTERS. 
            {% elif player.player_re_type == Constants.pt2 %}
                The other two members of your group will also be LAB PARTICIPANTS. 
            {% elif player.player_re_type == Constants.pt3 %}
                The other two members of your group will also be TELECOMMUTERS. 
            {% elif player.player_re_type == Constants.pt4 %}
                The other two members of your group will be LAB PARTICIPANTS. 
            {% elif player.player_re_type == Constants.pt5 %}
                One member of your group will also be a LAB PARTICIPANT, the other will be a TELECOMMUTER.
            {% elif player.player_re_type == Constants.pt6 %}
                The other two members of your group will also be LAB PARTICIPANTS.
            {% elif player.player_re_type == Constants.pt7 %}
                The other two members of your group will also be TELECOMMUTERS.
            {% elif player.player_re_type == Constants.pt8 %}
                One member of your group will also be a TELECOMMUTER, the other will be a LAB PARTICIPANT.
            {% endif %}
        </strong>
    </p>

    <p>&nbsp;</p>
    <p><b>Last Information:</b></p>
All choices are anonymous. The other members in your group will <b>never</b> be told how many tasks you completed nor the amount that you submitted to each account. Likewise, you will never be given this information for either of your group members.</p>
    <p>Each group member knows the participant composition of the group (# telecommuters, # lab participants) and all group members are performing this independently – so your group members do not know each other, or you. You will be randomly matched with members of the above type in each stage (new group in stage 3). The other members of your group may not be participating today.</p>
    <p>Please press <span class="text-info">continue</span>.</p>

</div>

<div class="row">
    <span class="pull-right">
        <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
    </span>
</div>
{% endblock %}
