{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results Stage 1
{% endblock %}

{% block content %}

<div class="row">

    <p class="text-info">
        Correct tasks submitted to the Individual Account: <b>{{correct_answers}}</b>
    </p>

    <p class="text-info">
    Your earnings for stage 1 are: <b>{{earnings}}</b></p>
</div>

<div class="row">
    <span class="pull-right">
        <p>
            <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
        </p>
    </span>
</div>

{% endblock %}
