{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}

{% block content %}

<div class="row">
    <p>
        In this last round your finished the following work
    </p>

    <p class="text-info">
        Correct answers submited to account A: <b>{{correct_answers}}</b>
    </p>

    <p class="text-info">
        Your earnings for last round are: <b>{{earnings}}</b>
    </p>

</div>

<div class="row">
    <span class="pull-right">
        <p>
            <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
        </p>
    </span>
</div>

{% endblock %}
