{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results Stage 3
{% endblock %}

{% block content %}

<div class="row">
    <p><span class="text-info">Correct tasks submitted to the Individual Account:<b>{{correct_answers_a}}</b></span>
        <br>
        <span class="text-warning"><span class="text-info">Correct tasks submitted to the Group Account:</span>: <b>{{correct_answers_b}}</b></span>    </p>

    <p>
        <span class="text-info">Your earnings from the Individual Account are: <b>{{earnings_a}}</b></span>
        <br>
        <span class="text-warning">Your earnings from the Group Account will provided to you later.<b></b></span>
    </p>

</div>

<div class="row">
    <span class="pull-right">
        <p>
            <input type="submit" value="Continue" class="btn btn-primary btn-large btn-primary next-button">
        </p>
    </span>
</div>

{% endblock %}
