{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Transcription task
{% endblock %}

{% block content %}

    <p>
        Please transcribe (that is copy) the text below into the input field.
        Be exact and make sure to get all characters and spaces correct.
    </p>

    <div>
        <img src="data:image/png;base64,{{png}}"  style="margin:0 auto;"/>
    </div>

    <br>
    <div id="formfields">
        {% for field in form %}
            {% formfield field  with label=""%}
        {% endfor %}
    </div>

    <span class="pull-right">
        <p>
            Account A pays {{Constants.a_payoff}} per correct answer
        </p>
        <p>
            <input type="submit" value="Submit Account A" class="btn btn-primary btn-large btn-primary next-button">
        </p>
    </span>
    <br>

    <script>
        $(document).ready(function(){


        });
    </script>

{% endblock %}
