{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Training Transcription task {{idx_p1}}/{{Constants.training_counts}}
{% endblock %}

{% block content %}

<div class="row">
    <p>
        Please transcribe (type) the text below into the input field.
    Be exact and make sure to get all characters and spaces correct. </p>
    <p>When you submit your task, if it is correct, it will be added to your Individual Account, which is an account tracking the number of correct tasks.
    During the paid stages, you will see a live counter updating with the total correct submitted at the bottom of the screen.</p>

    <div>
        <img src="data:image/png;base64,{{png}}"  style="margin:0 auto;"/>
    </div>

    <br>
    <div id="formfields">
        {% for field in form %}
            {% formfield field  with label=""%}
        {% endfor %}
    </div>
</div>

<table class="table borderless">
            <tr>
                <td class="pull-left"><small><b>Individual Account pays {{Constants.a_payoff}} per correct task to you (during the paid portion, this is only practice).</b></small></td>
                <td class="pull-right"></td>
            </tr>
            <tr>
                <td class="pull-left"><input id="submit-input" type="submit" value="Submit Individual Account" class="btn btn-primary btn-large btn-primary next-button"></td>
                <td class="pull-right"><input id="skip-input" type="submit" value="Leave Practice" class="btn btn-primary btn-large btn-success next-button"></td>
            </tr>
        </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            var intents = {{intents}};
            var $transcriptionArea = $("textarea#id_transcription");
            if(intents == 0){
                var $errorContainer = $transcriptionArea.siblings("div.form-control-errors");
                $("form#form").siblings("div.alert-danger").remove();
                $transcriptionArea.parents("div.form-group").removeClass("has-error");
                $transcriptionArea.val("");
                $errorContainer.text("");
            }

            $("#submit-input").click(function(evt){
                $("input#id_training_skip").val("False");
            });

            $("#skip-input").click(function(evt){
                $("input#id_training_skip").val("True");
                $transcriptionArea.attr("readonly", "");
                $transcriptionArea.val("{{Constants.skip_text}}");
            });
        });
    </script>
{% endblock %}
